<p fundoAmarelo>
  Texto com fundo amarelo
</p>

<button fundoAmarelo>botao</button>


<p highlightMouse>Texto com highlight quando passo o mouse.</p>


<p highlight [defaultColor]="'grey'" [highlightColor]="'red'">Texto com highlight com cores customizadas.</p>


<h5>Diretiva de Estrutura customizada - ngElse</h5>

<div *ngIf="mostrarCursos">
  Lista de Cursos
</div>

<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>

<button (click)="onMostrarCursos()">Show/Hide</button>

<br>

<ng-template [ngElse]="mostrarCursos">
  <div>Não existem cursos para serem listados.</div>
</ng-template>
