<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-meu-primeiro-component></app-meu-primeiro-component>

<app-meu-primeiro2></app-meu-primeiro2>

<app-cursos></app-cursos>

<app-data-binding></app-data-binding> -->

<app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
<button class="btn btn-primary" (click)="mudarValor()">Mudar Valor</button>
<button class="btn btn-danger" (click)="destruirCiclo()">Deletar</button>
